.catalogue-wrapper {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.catalogue {
    display: flex;
    gap: 40px;
}

.right-side-catalogue {
    display: grid;
    width: 860px;
    height:fit-content;
    align-items: start;
}

.right-side-catalogue > span {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 28px;
}

.right-side-catalogue > span > h3 {
    margin: 0;
}

.vinyls {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.price-button {
    border: transparent;
    background: transparent;
    height: 25px;

    color: #888;
    font-size: 16px;
    font-family: Open Sans;

    display: flex;
    align-items: center;
    justify-items: end;
    gap: 10px;
}

.price-button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.sort-on {
    color: black;
    font-weight: 500;
    text-decoration: underline;
}

.arrow-upside {
    rotate: 180deg;
}

.exception-catalogue {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}