.order-wrapper {
    width: 1160px;
    margin: 0 auto;
}

.order-step {
    border-radius: 5px;
    border: 1px solid #888;
    height: fit-content;
    margin-bottom: 37px;
    padding: 50px;
}

.order-step > h3 {
    margin-top: 20px;
}

.order-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-head > button {
    width: 233px;
    height: 55px;

    border-radius: 5px;
    border: 1px solid #888;
    background-color: white;

    color: #000;
    text-align: center;
    font-family: Open sans;
    font-size: 20px;
}

.order-head > button:hover {
    background-color: #b3b3b3;
    transition: all .2s ease;
}

.order-step-head {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.order-step-head > h3 {
    margin: 0;
}

.order-step-input, .order-select {
    padding-left: 20px;
    width: 360px;
    height: 50px;
    border: 5px none;
    background: #F5F5F5;

    color: #888;
    font-family: Open sans;
    font-size: 20px;

    margin-bottom: 40px;
}

.order-select {
    width: 380px;
    color: #000;
}

.order-select:hover {
    cursor: pointer;
}

.validation-p {
    color:red;
    font-size: 16px;
    position: absolute;
    margin-top: -40px;
}

.unactive-button {
    background-color: #888;
}

.unactive-button:hover {
    cursor: default;
    background-color: #888;
}