.shopping-cart {
    margin-top: 260px;
    position: fixed;
    background: #F5F5F5;
    box-shadow: -8px 17px 23px -11px rgba(0, 0, 0, 0.25);
    width: 940px;
    height: fit-content;
    z-index: 100;
    right: 0;
}

.cart-header {
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin: 0;
    margin-left: 20px;
    margin-right: 28px;
    border-bottom: #000 1px solid;
    margin-bottom: 15px;
}

.items-header {
    display: flex;
    gap: 155px;
    margin-left: 158px;
    margin-bottom: 15px;
}

.items-header > p {
    margin: 0;
    color: #888;
    font-size: 16px;
}

.cart-item {
    padding-right: 20px;
    width: 867px;
    height: 74px;
    background: #A6AEB5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-list {
    margin-left: 20px;
    display: grid;
    gap: 16px;
}

.cart-item > img {
    width: 53px;
    height: 53px;
    margin-left: 16px;
}

.cart-item > span {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    color: white;
}

.cart-buttons {
    display: flex;
    margin-bottom: 27px;
    margin-left: 20px;
    gap: 26px;
}

.cart-buttons > button, .cart-button {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 0;
    border-radius: 5px;
    border: 1px solid #888;
    /* background: #F5F5F5; */

    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;

    width: 233px;
    height: 55px;
}

.green-button {
    background: #CACFB6;
}

.clean-cart {
    margin-left: 140px;
}

button:hover {
    cursor: pointer;
}

.shopping-cart > h3 {
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cart-item > button {
    background-color: transparent;
    border: transparent;
    display: flex;
}

.cart-buttons > button:hover {
    background-color: #b3b3b3;

    transition: all .2s ease;
}

.cart-closed {
    margin-top: 260px;
    position: fixed;
    right: 0;
    width: 80px;
    height: 80px;
    background: #474C50;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.cart-closed:hover {
    background: #777f86;
    transition: all .2s ease;
}